body {
  background-color: yellow;
}

h1, ul {
  width: 90%;
  margin: auto;
  background-color: #ffff99;
  padding: 30px;
}

h1 {
  font-size: 32px;
  border-radius: 10px 10px 0 0;
  color: purple;
}

ul {
  border-radius: 0 0 10px 10px;
  color: green;
}

.separator {
  margin: 5px;
}

li {
  margin: auto;
  padding: 10px;
  font-size: 16pt;
}

li a {
  color: green;
}