body {
  background-color: yellow;
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    'header header'
    'images properties'
    'images options';
  justify-content: center;
  align-content: start;
  grid-gap: 10px;
  padding: 10px;
}

.segment {
  background-color: #ffff80;
  margin: 0;
}

h1 {
  font-size: 32px;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  color: purple;
  grid-area: header;
}

h2 {
  font-size: 28px;
}

ul {
  padding: 20px;
  list-style-type: none;
}

li {
  margin: 5px;
}

#images {
  border-radius: 0 0 0 10px;
  grid-area: images;
  overflow: hidden;
}

.smol {
  width: 60px;
}

td img {
  max-width: 150px;
  max-height: 150px;
}

#properties {
  border-radius: 0;
  grid-area: properties;
}

#properties input {
  width: 60px;
}

#options {
  border-radius: 0 0 10px 0;
}

#options li {
  float: left;
}